img{

    width: 30px;
    height: 30px;


}
.CartWidget{
color: rgb(0, 0, 0);

font-size: 1rem;
font-weight: 700;
display: flex;
flex-direction: column;
align-items: center;
}
.Img{
    margin-bottom:0px;
    padding-bottom: 0px;
}

.Compras{
    position: relative;
    top: -10px;
    background-color: rgba(0, 17, 255, 0.658);
    width: 25px;
    border-radius: 100%;
    margin-bottom: -20px;
    text-align: center;

}